# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
DRF_venv/

# Django Stuff
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
api.http
# Django migrations
**/migrations/
!*/migrations/__init__.py

# VS Code
.vscode/


# Environment variables
.env
.env.*

# mypy
.mypy_cache/
.dmypy.json
.pyre/
